@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime


@* /index.html is required for phones : to put url on home screen page *@

<div class="main">
    <div class="header">
        <button @onclick="onEndMatch"><span>End Match</span></button>
        <button @onclick="onUndo"><span>Undo</span></button>
    </div>
    <div class="left-player">
        <Team PlayerName="@game.Player1.Name" IsRight="false" Game="@game" Player="@game.Player1"></Team>
    </div>
    <div class="timer">
        <span>@game.Status</span>
        <button type="button" class="button brounded" @onclick="OnStartClick"><span>Start</span><br /><span>Timer</span></button>        
    </div>

    <div class="right-player">
        <Team PlayerName="@game.Player2.Name" IsRight="true" Game="@game" Player="@game.Player2"></Team>
    </div>


    @if (IsLeft)
    {
        <div style="grid-area: mainfooter">
            <button class="servicebutton brounded" @onclick="SwitchServiceSide">@ServiceSide</button>
        </div>
    }
    else
    {
        <div style="grid-area: mainfooter;" class="right">
            <button class="servicebutton brounded" @onclick="SwitchServiceSide">@ServiceSide</button>
        </div>
    }

</div>

@code {

    private SquashGame game;
    private SquashGameUIWrapper eventWrapper = new SquashGameUIWrapper();

    bool IsLeft 
    { 
        get
        {
            return game.Server == PlayerEnum.PlayerOne;
        }
    }

    string ServiceSide
    {
        get
        {
            switch(game.ServiceSide)
            {
                case PlayerSideEnum.Left : return "L";
                case PlayerSideEnum.Right: return "R";
                default: return "?";
            }
        }
    }

    protected override Task OnInitializedAsync()
    {
        game = new SquashGame(null);
        game.GameUICallBack = eventWrapper;
        eventWrapper.OnChooseToss += OnChooseToss;
        eventWrapper.OnChooseServeSide += OnChooseServeSide;
        eventWrapper.OnUpdateServiceSide += OnUpdateServiceSide;
        return base.OnInitializedAsync();
    }

    private Task SwitchServiceSide()
    {
        game.switchServiceSide();
        return Task.CompletedTask;
    }

    private Task OnStartClick()
    {
        if (game.Status == GameStatus.NotStarted)
        {
            game.StartGame();
            StateHasChanged();
        }
        return Task.CompletedTask;

    }

    private void OnChooseToss(object? sender, EventArgs args)
    {
        //TODO
    }

    private void OnChooseServeSide(object? sender, EventArgs args)
    {
        game.SetPlayerServeOn(PlayerSideEnum.Right, true);
        StateHasChanged();
    }

    private void OnUpdateServiceSide(object? sender, EventArgs args)
    {
        StateHasChanged();
    }

    private async Task onEndMatch()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            game.Reset();
        }
    }

    private Task onUndo()
    {
        game.Undo();
        return Task.CompletedTask;
    }
}